## .NET
bin/
obj/
*.user
*.suo
*.cache
.vs/

## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## Visual Studio
.vs/
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/
*.sln.iml

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Compiled Shaders
*.spv

## OS
.DS_Store
Thumbs.db
